#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project
java-chatbot/.metadata/

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
java-chatbot/.metadata/.log
java-chatbot/.metadata/.log
java-chatbot/.metadata/.plugins/org.eclipse.core.resources/.projects/java-chatbot/org.eclipse.jdt.core/state.dat
java-chatbot/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
java-chatbot/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
java-chatbot/.metadata/.plugins/org.eclipse.jdt.core/4260330844.index
java-chatbot/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
java-chatbot/.metadata/version.ini
java-chatbot/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
java-chatbot/.metadata/.plugins/org.eclipse.core.resources/.projects/java-chatbot/org.eclipse.jdt.core/state.dat
